<div class="p-grid p-fluid">
  <div class="p-field p-col-12 p-md-3">
    <label for="integeronly">PNC No</label>
    <p-autoComplete
      [(ngModel)]="texts"
      [suggestions]="results"
      (completeMethod)="search($event)"
      [multiple]="true"
      showClear="true"
    ></p-autoComplete>
  </div>
  <div class="p-field p-col-12 p-md-3">
    <label for="withoutgrouping">Status</label>
    <p-multiSelect
      showClear="true"
      [options]="cities"
      [(ngModel)]="selectedCities"
      optionLabel="name"
      display="chip"
    ></p-multiSelect>
  </div>
</div>

<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <p-button
      label="Search"
      icon="pi pi-search"
      [loading]="isLoading"
      class="p-mr-2"
    ></p-button>
    <p-button
      label="Fileter Setting"
      icon="pi pi-filter"
      [loading]="isLoading"
      class="p-mr-2"
    ></p-button>
    <p-splitButton
      label="Layout"
      icon="pi pi-list"
      (onClick)="save('info')"
      [model]="items"
      class="p-mr-2"
    ></p-splitButton>
    <p-splitButton
      label="AddNew"
      icon="pi pi-plus"
      (onClick)="save('info')"
      [model]="items2"
      class="p-mr-2"
    ></p-splitButton>

    <p-splitButton
      label="Edit"
      icon="pi pi-user-edit"
      (onClick)="save('info')"
      [model]="items3"
      class="p-mr-2"
    ></p-splitButton>

    <p-splitButton
      label="Approval"
      icon="pi pi-plus"
      (onClick)="save('info')"
      [model]="items4"
      class="p-mr-2"
    ></p-splitButton>
    <p-button
      label="Download"
      icon="pi pi-download"
      [loading]="isLoading"
      class="p-mr-2"
    ></p-button>
  </ng-template>

  <ng-template pTemplate="right"> </ng-template>
</p-toolbar>
