<div class="p-grid p-fluid">
  <div class="p-field p-col-12 p-md-3">
    <label for="integeronly">PNC No</label>
    <p-autoComplete
      [(ngModel)]="texts"
      [suggestions]="results"
      (completeMethod)="search($event)"
      [multiple]="true"
      showClear="true"
    ></p-autoComplete>
  </div>
  <div class="p-field p-col-12 p-md-3">
    <label for="withoutgrouping">Status</label>
    <p-multiSelect
      showClear="true"
      [options]="cities"
      [(ngModel)]="selectedCities"
      optionLabel="name"
      display="chip"
    ></p-multiSelect>
  </div>
</div>

<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        label="Search"
        icon="pi pi-search"
        [loading]="isLoading"
        class="p-mr-2"
      ></p-button>
      <p-button
        label="Fileter Setting"
        icon="pi pi-filter"
        [loading]="isLoading"
        class="p-mr-2"
      ></p-button>
      <p-splitButton
        label="Layout"
        icon="pi pi-list"
        (onClick)="save('info')"
        [model]="items"
        class="p-mr-2"
      ></p-splitButton>
      <p-splitButton
        label="AddNew"
        icon="pi pi-plus"
        (onClick)="save('info')"
        [model]="items2"
        class="p-mr-2"
      ></p-splitButton>

      <p-splitButton
        label="Edit"
        icon="pi pi-user-edit"
        (onClick)="save('info')"
        [model]="items3"
        class="p-mr-2"
      ></p-splitButton>

      <p-splitButton
        label="Approval"
        icon="pi pi-user-edit"
        (onClick)="showBasicDialog()"
        [model]="items4"
        class="p-mr-2"
      ></p-splitButton>
      <!-- <p-splitButton
        label="Post SAP"
        icon="pi pi-plus"
        (onClick)="showPostSAPDialog()"
        [model]="items5"
        class="p-mr-2"
      ></p-splitButton> -->
      <p-button
        label="Post SAP"
        icon="pi pi-plus"
        [loading]="isLoading"
        (onClick)="showPostSAPDialog()"
        class="p-mr-2"
      ></p-button>
      <p-button
        label="Download"
        icon="pi pi-download"
        [loading]="isLoading"
        class="p-mr-2"
      ></p-button>
    </ng-template>

    <ng-template pTemplate="right"> </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="products"
    [rows]="10"
    [paginator]="true"
    selectionMode="multiple"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    (pSelectableRowDblClick)="showReadonlySignflow($event)"
    styleClass="p-mt-4"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>PNC No</th>
        <th>PNC Qty</th>
        <th>Form JPN</th>
        <th>To JPN</th>
        <th>Status</th>
        <th>Actual PNC Qty</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [pSelectableRow]="product">
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{ product.id }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>
          <p-rating
            [ngModel]="product.rating"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </td>
        <td>
          <span
            [class]="
              'product-badge status-' + product.inventoryStatus.toLowerCase()
            "
            >{{ product.inventoryStatus }}</span
          >
        </td>

        <td>{{ product.price }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ products ? products.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>
<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '450px' }"
  header="Product Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="product.name"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !product.name"
        >Name is required.</small
      >
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="product.description"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>

    <div class="p-field">
      <label class="p-mb-3">Category</label>
      <div class="p-formgrid p-grid">
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton
            id="category1"
            name="category"
            value="Accessories"
            [(ngModel)]="product.category"
          ></p-radioButton>
          <label for="category1">Accessories</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton
            id="category2"
            name="category"
            value="Clothing"
            [(ngModel)]="product.category"
          ></p-radioButton>
          <label for="category2">Clothing</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton
            id="category3"
            name="category"
            value="Electronics"
            [(ngModel)]="product.category"
          ></p-radioButton>
          <label for="category3">Electronics</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton
            id="category4"
            name="category"
            value="Fitness"
            [(ngModel)]="product.category"
          ></p-radioButton>
          <label for="category4">Fitness</label>
        </div>
      </div>
    </div>

    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="price">Price</label>
        <p-inputNumber
          id="price"
          [(ngModel)]="product.price"
          mode="currency"
          currency="USD"
          locale="en-US"
        ></p-inputNumber>
      </div>
      <div class="p-field p-col">
        <label for="quantity">Quantity</label>
        <p-inputNumber
          id="quantity"
          [(ngModel)]="product.quantity"
        ></p-inputNumber>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-dialog
  header="PNC Approval"
  [(visible)]="displayBasic"
  [style]="{ width: '50vw' }"
>
  <!-- <p-fieldset [toggleable]="true">
    <ng-template pTemplate="header">PNC List</ng-template>
    <p-table
      #dt
      [value]="approvelProducts"
      [rows]="10"
      [paginator]="false"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>PNC No</th>
          <th>PNC Qty</th>
          <th>Form JPN</th>
          <th>To JPN</th>
          <th>Actual PNC Qty</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.category }}</td>
          <td>
            <p-rating
              [ngModel]="product.rating"
              [readonly]="true"
              [cancel]="false"
            ></p-rating>
          </td>
          <td>{{ product.price }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset> -->

  <p-fieldset styleClass="p-mt-4" [toggleable]="true">
    <ng-template pTemplate="header">Sign Flow</ng-template>
    <p-table
      #dt
      [value]="signFlows"
      [rows]="10"
      [paginator]="false"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Approval Step</th>
          <th>Approval Role</th>
          <th>Approver</th>
          <th>Approval Results</th>
          <th>Approval Date</th>
          <th>Comments</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-signFlow>
        <tr>
          <td>{{ signFlow.approvalStep }}</td>
          <td>{{ signFlow.approvalRole }}</td>
          <td>{{ signFlow.approver }}</td>
          <td>{{ signFlow.approvalResults }}</td>
          <td>{{ signFlow.approvalDate }}</td>
          <td>{{ signFlow.comments }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
  <div class="p-fluid p-mt-4">
    <!-- <div class="p-field p-grid">
      <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
        >*VAT</label
      >
      <div class="p-col-12 p-md-10">
        <p-inputNumber inputId="integeronly" [(ngModel)]="value1">
        </p-inputNumber>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
        >*Custom Duty</label
      >
      <div class="p-col-12 p-md-10">
        <p-inputNumber inputId="integeronly" [(ngModel)]="value1">
        </p-inputNumber>
      </div>
    </div> -->
    <div class="p-field p-grid">
      <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
        >Is Post SAP?</label
      >
      <div class="p-col-12 p-md-5">
        <p-radioButton
          name="city"
          value="Close"
          [(ngModel)]="isPostSAP"
          inputId="city3"
        ></p-radioButton>
        <label for="city3">Close</label>
      </div>
      <div class="p-col-12 p-md-5">
        <p-radioButton
          name="city"
          value="New York"
          [(ngModel)]="isPostSAP"
          inputId="isPostSAP"
        ></p-radioButton>
        <label for="isPostSAP">Auto Post SAP</label>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
        >Actual PNC QTY</label
      >
      <div class="p-col-12 p-md-10">
        <p-inputNumber inputId="integeronly" [(ngModel)]="value1">
        </p-inputNumber>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
        >Comments</label
      >
      <div class="p-col-12 p-md-10">
        <textarea rows="3" cols="30" pInputTextarea></textarea>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="showPostSAPDialog()"
      label="Agree"
      styleClass="p-button-text p-button-success p-mr-4"
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="displayBasic = false"
      label="Reject"
      styleClass="p-button-text p-button-danger"
    ></p-button>
    <p-button
      icon="pi"
      (click)="displayBasic = false"
      label="Cancel"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Information"
  [(visible)]="displayPostSAP"
  [style]="{ width: '50vw' }"
>
  <div class="p-fluid p-mt-4">
    <div class="p-field p-grid">
      <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
        >Is Post SAP?</label
      >
      <div class="p-col-12 p-md-5">
        <p-radioButton
          name="city"
          value="New York"
          [(ngModel)]="city"
          inputId="city3"
        ></p-radioButton>
        <label for="city3">Close</label>
      </div>
      <div class="p-col-12 p-md-5">
        <p-radioButton
          name="city"
          value="New York"
          [(ngModel)]="city"
          inputId="city3"
        ></p-radioButton>
        <label for="city3">Auto Post SAP</label>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
        >Actual PNC QTY</label
      >
      <div class="p-col-12 p-md-10">
        <p-inputNumber inputId="integeronly" [(ngModel)]="value1">
        </p-inputNumber>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayPostSAP = false"
      label="Confirm"
      styleClass="p-button-text p-button-success p-mr-4"
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="displayPostSAP = false"
      label="Cancel"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="PNC Approval"
  [(visible)]="displayReadonlySignflow"
  [style]="{ width: '50vw' }"
>
  <p-fieldset styleClass="p-mt-4" [toggleable]="true">
    <ng-template pTemplate="header">Sign Flow</ng-template>
    <p-table
      #dt
      [value]="signFlows"
      [rows]="10"
      [paginator]="false"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Approval Step</th>
          <th>Approval Role</th>
          <th>Approver</th>
          <th>Approval Results</th>
          <th>Approval Date</th>
          <th>Comments</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-signFlow>
        <tr>
          <td>{{ signFlow.approvalStep }}</td>
          <td>{{ signFlow.approvalRole }}</td>
          <td>{{ signFlow.approver }}</td>
          <td>{{ signFlow.approvalResults }}</td>
          <td>{{ signFlow.approvalDate }}</td>
          <td>{{ signFlow.comments }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayReadonlySignflow = false"
      label="OK"
      styleClass="p-button-text p-button-success p-mr-4"
    ></p-button>
  </ng-template>
</p-dialog>
